<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
   
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="gtrifonov.onmicrosoft.com" />
    <add key="ida:ClientId" value="6d89c759-4f63-48d4-bc48-a41f1cf0f4d8" />
    <add key="ida:RedirectUri" value="http://MediaClient" />
    
    <add key="ApiResourceId" value="http://gtrifonov.onmicrosoft.com/MediaAPI" />
    <add key="ApiBaseAddress" value="http://localhost:55577/" />
    
  </appSettings>
  
</configuration>